/* styles.css */

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e0eef2;
}

h1,
h2 {
  text-align: center;
  margin: 20px 0;
}

p {
  font-size: 20px;
  line-height: 1.5;
  margin: 10px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

a:hover {
  text-decoration: underline;
}

li {
  text-align: center;
  padding-top: 40px;
}

a {
  color: darkblue;
  text-decoration: none;
}

footer {
  padding-top: 120px;
  padding-bottom: 60px;
}

.books {
  font-size: 40px;
  margin: 10px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.last {
  padding-bottom: 100px;
}
